@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --header-footer-background-color: rgb(39, 39, 39);
    --header-footer-text-color: rgb(255, 255, 255);
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;

}
#container {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    align-items: center;
    height: 100vh;
}
.header,
.footer {
    display: flex;
    background-color: var(--header-footer-background-color);
    justify-content: center;
    height: 10vh;
    color: var(--header-footer-text-color);
}
.header{
    align-items: flex-end;
}


.header >button {
    border: none;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    font: inherit;
    transition-duration: .4s;
}
.header >button:hover {
    transform: scale(1.1);
    background-color: rgb(35, 0, 117);
    color: white;
    font-size: 1.1rem;

}
.header >button:active{
    transform: scale(.9);
    background-color: rgb(35, 0, 117);
    color: white;
    font-size: .9rem;

}



.home-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 1.25rem;
    gap: 20px;
    padding: 30px;
    text-align: center;
}
.home-page1,
.home-page2,
.home-page3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-page1 {
    font-size: 2rem;
    font-weight: 800;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-page1 > img {
    max-height: 500px;
    border-radius: 10px;
}
.home-page2 >img,
.home-page3 >img{
    max-height: 300px;
    border-radius: 10px;
}


.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    padding: 20px;
    height: 300px;

}

.menu-item >img {
    border-radius: 10px;
    margin: 10px;
    max-width: 250px;
}
.menu-item >div {
    font-weight: 400;
}



.contact-page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.detailLeft {
    max-height: 600px;
    border-radius: 10px;
}
.detailRight {
    margin: 30px;
    font-size: 2.25rem
}


















.footer {
    align-items: center;
}